{% extends 'website/base.html' %}
{% block content %}

<div class="card">
    <div class="card-header"><strong>{{c_record.first_name}} {{c_record.last_name}}</strong></div>

    <div class="card-body">

        <p class="card-text">
            <strong>E-mail: </strong>{{c_record.email}}
        </p>

        <p class="card-text">
            <Strong>Phone: </Strong>{{c_record.phone}}
        </p>

        <p class="card-text">
            <strong>Address: </strong>{{c_record.phone}}
        </p>

        <p class="card-text">
            <strong>City: </strong>{{c_record.city}}
        </p>

        <p class="card-text">
            <strong>State: </strong>{{c_record.state}}63
        </p>

        <p class="card-text">
            <strong>Created At: </strong>{{c_record.created_at}}
        </p>

        
        
    </div>
</div>

    <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

    <a href="{% url 'delete-record' c_record.id %}" class="btn btn-danger">Delete</a>

    <a href="{% url 'edit-record' c_record.id %}" class="btn btn-primary">Edit Record</a>

{% endblock content %}